<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laroomysoft.laroomy">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".ApplicationProperty"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AddDeviceActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResetAppDataActivity" />
        <activity
            android:name=".DataSharingReceiverActivity"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="datasharing"
                    android:scheme="laroomy" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewLogActivity" />
        <activity android:name=".EditUUIDProfileActivity" />
        <activity android:name=".ManageUUIDProfilesActivity" />
        <activity android:name=".AppSettingsActivity" />
        <activity android:name=".InformationActivity" />
        <activity android:name=".AppHelpActivity" /> <!-- Activities in connected state: -->
        <activity
            android:name=".UnlockControlActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".BarGraphActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".NavigatorControlActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".DeviceSettingsActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".TimeFrameSelectorActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".SimpleTimeSelectorActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ExtendedLevelSelectorActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".RGBControlActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".DeviceMainActivity"
            android:label="@string/DeviceMainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".LoadingActivity"
            android:label="@string/LoadingActivityLabel"
            android:screenOrientation="locked" />
    </application>

</manifest>